.topdiv {
    height: 50px;
    gap: 0px;
    opacity: 0px;
    background-color: #eb6626;
  }
  
.logo {
    width: 135px;
    height: 50px;
    left: 60px;
  }
  
  .heading {
    display: inline-block;
    position: relative;
    text-align: center; /* Center the text */
}

.underline-hr {
    border: 0;
    height: 3px; /* Thickness of the underline */
    width: 50%; /* Width of the underline relative to the heading */
    background-color: #eb6626;
    margin: 0 auto; /* Center the underline */
    display: block; /* Ensure it behaves as a block element */
}

.fthphaseimg {
    object-fit: cover;
    object-position: top;
    box-shadow: 1px 1px 5px grey;
  }
  
.registration-form {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.registration-form.updated {
    width: 100%;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="number"],
.registration-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form input[type="checkbox"] {
    margin-right: 5px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #EB6626;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #d55b20;
}

.register-heading-action{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #EB6626;
}



.login-heading{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #000;
}

.video-style {
    border: 2px solid black;  
    border-radius: 10px;      
  }
  
  .iconfooter {
    font-size: 24px;
    color: white; /* Adjust the color as needed */
  }
  
.footerheader {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
  }
  
.footerbutton {
    color: #eb6626;
    width: 250px;
    height: 39px;
    gap: 0px;
    border-radius: 1px 0px 0px 0px;
    opacity: 0px;
    border: #000000;
  }
  
.footerWordlast {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
  }
  
.footerlogo {
    width: 50px;
    height: 40px;
  
    gap: 0px;
    opacity: 0px;
  }

.footerWord {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: left;
    color: #ffffff;
  }
  
.footerStyle {
    background: #1a1818;
    /* height: 500px; */
    margin-bottom: 0px;
    padding-bottom: 50px;
  }


